p.geriausia_pasaulyje_klase {
    color:rgb(231, 143, 28);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p#grazuolis {
    background:black;
    color:aliceblue;
    text-shadow: 4px 4px 5px white;
    text-align: center

}
p#grazuolis {
    font-family: 'Mouse Memoirs', sans-serif;
}

div { background-image:
    url("5630974.jpg")
} 
p.geriausia_pasaulyje_klase {
    background-color: beige;
}

